.header {
  padding: 20px 25%;
  background-color: #3848ad !important;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.header > div > div > span {
  color: white;
}
.list {
  padding: 125px 25%;
}
.link {
  color: #62bfff;
}
.link:hover {
  color: #62bfff;
}
.container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  color: #00000073;
  font-size: 14px;
  align-items: flex-end;
}
.empty {
  text-align: center;
}